parameters:
	ignoreErrors:
		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 1
			path: src/Controller/AdminAnnotationListController.php

		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 1
			path: src/Controller/AnnotationController.php

		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 1
			path: src/Form/SettingsForm.php

		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 1
			path: src/Plugin/Mcp/InstrucktPlugin.php

		-
			message: """
				#^Fetching deprecated class constant EXISTS_REPLACE of interface Drupal\\\\Core\\\\File\\\\FileSystemInterface\\:
				in drupal\\:10\\.3\\.0 and is removed from drupal\\:12\\.0\\.0\\. Use
				\\\\Drupal\\\\Core\\\\File\\\\FileExists\\:\\:Replace instead\\.$#
			"""
			count: 1
			path: src/Service/InstrucktStore.php
